- model_class = Vehicle
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize

%ul.thumbnails
  - @vehicles.each do |vehicle|
    %li.span3
      .thumbnail
        - if vehicle.images.present?
          = image_tag vehicle.images.split("|").first
        %h3= vehicle.year_make_model
        %p= vehicle.comments
        =link_to "View more", vehicle_path(vehicle), class: 'btn btn-primary'
