// Place all the styles related to the Vehicles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$price-blue: rgb(42, 93, 184);

p.price {
  color: $price-blue;
}

.vehicle_row_item{
  p {
    font-size: 18px;
    padding: 15px;
  }
}

.bold {
  font-weight: bold;
}

select {
  max-width: 100%;
}
.readmore-js-toggle, .readmore-js-section {
  display: block;
  width: 100%;
}
.readmore-js-section {
  overflow: hidden;
}
